{% load static %}

<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <nav>
            {% load menu_tags %}
            <div class="menu">
                {% draw_menu 'main_menu'|safe %}
            </div>
            <div class="menu">
                {% draw_menu 'menu_2'|safe %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </main>
    <footer>
        <p>Футер</p>
    </footer>
</body>
</html>
